body {
  background: url(http://backgrounds.picaboo.com/download/e9/9c/e9ca0fddc96e48489791c17c21d02e54/HT_DecBKRND_12.jpg) fixed;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body > .container {
  background: white;
  box-shadow: 0 0 10px 3px #737373;
  box-sizing: border-box;
  max-width: 70rem;
  margin: 0 auto;
  padding: 4rem 4rem 10rem;
  position: relative;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 2rem;
}

nav {
  position: fixed;
  top: 4rem;
  width: 200px;
}

nav li {
  padding: 0.25rem 0;
}

nav a {
  background: #e3e3e3;
  border-radius: 0.25rem;
  color: #666666;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  background: #c6dcda;
  color: #333333;
  cursor: pointer;
  transition: background 300ms ease, color 300ms ease;
}

nav ul {
  margin-bottom: 2rem;
}

nav .fa-lg {
  margin-right: 0.5rem;
}

#intro .container {
  display: flex;
}

#intro img {
  box-shadow: 0 0 10px 3px #737373;
  float: left;
  height: 100%;
  margin: 0.5rem 1.5rem 0 0.5rem;
  padding: 0.5rem;
  width: 200px;
}

.content {
  margin-left: 200px;
  padding-left: 3rem;
}

p,
#resume .container {
  line-height: 1.25rem;
}

em {
  font-style: italic;
}

section:not(:first-child) {
  padding-top: 4rem;
}

section p:not(:last-child) {
  margin: 2rem 0;
}

#resume h3 {
  border-bottom: 1px solid #3873b2;
  color: #3873b2;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#resume ul {
  margin-bottom: 2rem;
} 

#resume li {
  margin-bottom: 1rem;
}

#resume .container > * {
  display: inline-block;
  vertical-align: top;
}

#resume time {
  margin-right: 1rem;
  text-align: right;
  width: 7rem;
}

#resume .container > div {
  width: calc(100% - 9rem);
}

#resume div > .title,
#resume .subtitle {
  display: block;
  line-height: 1.25rem;
}

#resume .title {
  font-weight: bold;
}

#resume .subtitle {
  font-style: italic;
}
